.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: hsl(228, 45%, 44%);
    margin: 10px 0;
}
.card{
    width: 350px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
}
.card-image{
    width: 100%;
    height: auto;
}
.card-image img{
    width: 100%;
    display: block;
}
.card-content{
    padding: 20px;
}
.card-content h1{
    font-size: 22px;
    color: hsl(212, 23%, 69%);
    margin: 0 0 10px 0;
}